services:
  node:
    image: ghcr.io/zerocluster/node

    build:
      context: .
      args:
        UBUNTU_VERSION: latest
        NODE_VERSION: lts-latest
        NPM_VERSION: latest
      secrets:
        - id=NPM_TOKEN_GITHUB,env=NPM_TOKEN_GITHUB

  app:
    depends_on: [node]
    image: ghcr.io/zerocluster/node/app

    build:
      context: .
      dockerfile: app.dockerfile
      secrets:
        - id=NPM_TOKEN_GITHUB,env=NPM_TOKEN_GITHUB
